.btnDelete {
    background-color: rgba(255, 141, 141, 255);
    -unity-background-image-tint-color: rgba(231, 123, 123, 255);
}

.btnDelete:hover {
    background-color: rgba(255, 0, 0, 255);
}

.btnClone {
    background-color: rgba(66, 255, 160, 255);
}

.btnClone:hover {
    background-color: rgba(0, 255, 11, 255);
}

.btnSwap {
    background-color: rgba(232, 250, 133, 255);
}

.btnSwap:hover {
    background-color: rgba(255, 179, 0, 255);
}
